*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Signika Negative', sans-serif;
}
.container{
    display: flex;
    height: 110vh;
    background: linear-gradient(rgb(24, 155, 160),rgb(1, 34, 105));
    
}
.left{
    background: white;
    width: 40%;
    margin: 4% 5%;
    padding: 25px;
    border-radius: 10px;
    height: 610px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.left h1{
    font-size: 20px;
    padding: 5px 5px 20px 5px;
}
.input-box{
    margin: 5px 0;
    width: 90%;
    padding: 5px;
}
.input-box .text-box{
    height: 35px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 5px;
    font-size: 15px;
    margin: 5px 0 0 0;
}
.input-box2{
    margin: 10px 0;
    width: 90%;
    padding: 5px;
}
input[type="file"]{
    margin-top: 5px;
    height: 30px;
    width: 100%;
    border-radius: 5px;
    border: 0;
    color: white;
    font-size: 15px;
}
input[type="radio"]{
    margin: 0 5px;
}
input[type="checkbox"]{
    margin: 10px 5px 5px 0;
    cursor: pointer;
}
.block{
    margin: 0 5px;
    display: block;
}
.input-box .button{
    height: 30px;
    width: 100%;
    border-radius: 5px;
    border: 0;
    background: linear-gradient(45deg, rgb(164, 31, 253),rgb(67, 31, 226));
    color: white;
    font-size: 15px;
    cursor: pointer;
}
.input-box .button:hover{
    background: linear-gradient(45deg,rgb(67, 31, 226),rgb(164, 31, 253));
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.right{
    background: rgb(237, 241, 206);
    width: 40%;
    margin: 4% 5%;
    padding: 25px;
    border-radius: 10px;
    height: 610px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.box{
    background: rgb(190, 220, 231);
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.box .desc{
    padding: 5% 10% 10% 5%;
    text-align: center;
}
.box img{
    height: 130px;
}

.box .head{
    width: 100%;
    height: 40px;
    padding: 0 0 0 5%;
    line-height: 40px;
    background: rgb(43, 144, 226);
    border-radius: 5px;
}
.box .head h2{
    color: rgb(211, 254, 255);
    text-shadow: 2px 2px 5px rgb(8, 8, 8);
}
.desc h2{
    font-family: "Dank Mono", ui-monospace, monospace;
  font-size: 8mm;
  color: rgb(136, 20, 0);
}
.desc p{
    font-family: "Dank Mono", ui-monospace, monospace;
  font-size: 5mm;
  color: rgb(0, 59, 27);
}
